html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-image: url(https://walzr.com/gridnew.png);
  background-size: 80px 80px;
  background-color: #7f9c68;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.nav-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.68);
    height: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: monospace;
    font-size: 12px;
    font-weight: bold;
    color: #7f9c68;
    z-index: 1001;
    padding: 8px 8px 8px 8px;
  }

  .nav-left, .nav-right {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    padding: 0px 20px 0px 20px;
  }

  .pixelated {
  image-rendering: pixelated;
  }

  .dropdown {
    position: relative;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    top: calc(100% + 7px);
    left: 0;
    background-color: #000;
    opacity: 0.68;
    border: 1px solid #7f9c68;
    min-width: 150px;
    line-height: 14px;
    padding: 5px;
    z-index: 2000;
    }

  .dropdown.open .dropdown-content {
    display: block;
  }


  .station {
        position: relative;
        padding: 5px 10px;
        cursor: pointer;
        color: #7f9c68;
        background-color: #000;
        transition: background 0.2s;
        white-space: nowrap;
    }

    .station:hover,
    .station.current {
        background-color: #3b4a31;
    }

   .sub-dropdown {
        display: none;
        position: absolute;
        top: 0;        
        left: 100%;    
        background-color: #000;
        border: 1px solid #7f9c68;
        min-width: 130px;
        padding: 5px;
        z-index: 3000;
        white-space: nowrap;
    }


    .station:hover .sub-dropdown {
       display: block;
    }

    .sub-station {
        cursor: pointer;
        padding: 5px;
        color: #7f9c68;
        background-color: #OOO;
        transition: background 0.2s;
        white-space: nowrap;
    }

    .sub-station:hover,
    .sub-station.current {
        background-color: #3b4a31;
    }

  .popup-box {
    display: none;
    position: fixed;
    top: 50px;
    left: 10%;
    background: #000;
    border: 2px solid #7f9c68; 
    opacity: 0.68;
    color: #7f9c68;
    padding: 5px 5px 0px 5px;
    z-index: 3;
    font-family: monospace;
    line-height: 16px;
    font-size: 12px;
    width: 300px; 
    min-width: 150px; 
    white-space: normal;
    word-wrap: break-word;
    cursor: default;
    padding: 2px 2px 2px 2px;
  }

  .popup-box {
    cursor: default;
  }

  .popup-box a {
    color: #7f9c68; 
    text-decoration: underline;
    font-weight: bold;
    transition: color 0.2s ease;
  } 

  .popup-box a:hover {
    color: #3b4a31;
    text-decoration: none;
  }

  .popup-box button {
    background: #000;
    color: #7f9c68;
    border: 1px solid #7f9c68;
    font-size: 11px;
    font-weight: bold;
    cursor: pointer;
  }

  .popup-close {
    background: #000;
    color: #7f9c68;
    border: 1px solid #7f9c68;
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
    padding: 0 4px;
  }

  .popup-header {
    display: flex;
    cursor: move;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    font-weight: bold;
    border-bottom: 1px solid #7f9c68;
  }

  .marquee-wrapper {
    width: 65%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    height: 1em; 
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .marquee-text {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    pointer-events: none;
  }

  @media (max-width: 400px) {
    .marquee-wrapper {
    display: none;
    }
   }
      
  @keyframes scroll-left {
      0% { transform: translateX(100%); }
      100% { transform: translateX(-100%); }
    }
